
.notice-container {  width:100%; margin:5px auto; padding-left:8px; display:table; table-layout: fixed; background-color:#000;}
.notice-container .notice { width:60px; display:inline-block; color:#fffefe; vertical-align:middle; font-size:12px; }
.notice-container marquee { width:calc( 100% - 60px ); display:inline-block; vertical-align:middle; font-size:12px; z-index:0; }

.main-container{padding:0;padding-top:98px;}


.main-swiper{position: relative;/* border-radius:13px; */overflow: hidden;margin:0; border:2px solid #4a883d; }
.main-swiper .swiper-slide{/* height:500px; *//* padding:35px 30px; *//* width:100% !important; */}
.main-swiper .swiper-slide img{width:100%;}
/*.main-swiper .swiper-slide.bg1{background:url(https://i.imgur.com/9mzpBpM.jpg) no-repeat center bottom;background-size: cover;}
.main-swiper .swiper-slide.bg2{background: url(../images/main/main_visual02.jpg) no-repeat center bottom;background-size: cover;}
.main-swiper .swiper-slide.bg3{background: url(../images/main/main_visual03.jpg) no-repeat center bottom;background-size: cover;}
*/
.main-swiper .swiper-slide > h3.tit1{font-size: 14px;color: #929292;}
.main-swiper .swiper-slide > h3.tit2{font-size: 24px;color: #ffffff;font-weight:800;margin-top:10px;}
.main-swiper .swiper-slide > .txt-box{position:relative;margin-top: 15px;padding-top:15px;}
.main-swiper .swiper-slide > .txt-box::before{content:"";position:absolute;top:0;left:0;width: 53px;height: 2px;background: #ff5500;}
.main-swiper .swiper-slide > .txt-box > p{color: #929292;font-family: "ns";font-size: 13px;line-height: 1.5;}
.main-swiper .swiper-pagination-bullet{background:#ceec24; width:10px;height:10px;box-shadow: none;opacity:1 !important;font-size: 14px;font-weight: 800;color: #848484;padding-bottom: 8px;}
.main-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fff;width: 10px;border-radius: 50%;color: #fff;border-bottom: 1px solid #fff;}
.main-swiper .swiper-pagination{z-index:5;}
.main-swiper.swiper-container-horizontal > .swiper-pagination-bullets{bottom:15px;}

.main-floor2{padding: 0 0px 20px;margin-top: 15px;overflow:hidden;}
.main-floor2-txt{height:186px;position:relative;}
.main-floor2-txt .visual-txt{float:left;margin-top: 65px;margin-left: 14px;position: relative;z-index: 1;}
.main-floor2-txt .main-man{position:absolute;top: 40px;right: -10px;}
.main-floor2-txt .main-man img{width: 227px;}

.main-floor1 { border:1px solid #4a883d; border-top:none; }
.main-floor1 ul > li { float:left; width:calc(100% / 4); background:#1d2c19; height:40px; border-left:2px solid #4a883d; text-align:center; font-size:14px; }
.main-floor1 ul > li a { line-height:40px; }
.main-floor1 ul > li a i { margin-right:5px; vertical-align:middle; }
.main-floor1 ul > li:first-child { border-left:none; }
.main-floor1 ul > li:nth-child(1) > a i.iconfont{ font-size:24px; }
.main-floor1 ul > li:nth-child(2) > a i.iconfont{ font-size:18px; }
.main-floor1 ul > li:nth-child(3) > a i.iconfont{ font-size:17px; }

.main-floor2 ul{margin-left: -6px;margin-top:-6px;font-size:0;text-align:center;}
.main-floor2 ul > li{display:inline-block;margin-left: 6px;margin-top:6px;width: calc(100% / 3 - 6px); /* box-shadow: 2px 2px 8px rgba(38, 59, 88, 0.4); */height: 61px;position: relative;}
.main-floor2 ul > li a{display:block;width:100%;height:61px;vertical-align: middle;text-align: center; background:#1d2c19; border-radius:5px; }
.main-floor2 ul > li > span {
    display: inline-block;
    border-radius: 5px;
    background-image: linear-gradient(to top, #1b6845 , #9cc00b);
    padding: 1px;
	width:100%;
}
.main-floor2 ul > li span a i{display:block;font-size: 23px;color:#cdd1d6;text-align: center; position:absolute; top:10px; width:100%; }
.main-floor2 ul > li span a span{display:block;font-size:12px;font-weight:700;color: #d0d0d0; width: 100%; padding-top:40px; }
.main-floor2 ul > li:nth-child(1) a i.iconfont{ font-size:24px;}
.main-floor2 ul > li:nth-child(2) a i.iconfont{font-size: 28px;}
.main-floor2 ul > li:nth-child(3) a i.iconfont{font-size: 26px;}
.main-floor2 ul > li:nth-child(5) a i.iconfont{font-size: 36px; top:5px; }
.main-floor2 ul > li:nth-child(4) a i.iconfont{font-size: 30px; top:5px; }
.main-floor2 ul > li:nth-child(7) a i.iconfont{font-size: 14px; top:18px; }
.main-floor2 ul > li:nth-child(9) a i.iconfont{font-size: 33px; top:5px; }


.contact-method{margin:0 auto;/* background:#191919; *//* border-radius:13px; *//* box-shadow:0px 0px 17px #000; */margin-top: 20px;position: relative;}
.contact-method:before{display: none;content:"";position:absolute;top:0;left:0;width: 100%;height: 100%;z-index: 0;box-shadow: inset 1px 1px 2px #333436;border-radius: 13px;}
.contact-method > .box{position:relative;z-index:2;}
.contact-method > .box > .txt-box{display:block;text-align:center;height:70px;padding:15px 10px;}
.contact-method > .box.list2 > .txt-box{width:50%;float:left;}
.contact-method > .box > .txt-box:focus > .icon-box{text-shadow: 0px 0px 10px #e49350;}
.contact-method > .box > .txt-box > *{display:inline-block;text-align:left;}
.contact-method > .box > .txt-box > .icon-box > .icon{color: #ff5500;line-height:40px;font-size:35px;}
.contact-method > .box > .txt-box > .txt{margin-left:10px;}
.contact-method > .box > .txt-box > .txt > *{line-height:20px;color:#fff;font-size:13px;}
.contact-method > .box > .txt-box > .txt > h3{color: #ff5500;font-size:18px;}
.contact-method +.contact-method{margin-top:10px;/* margin-bottom:30px; */}


.notice-box{background: #08152e;/* border-radius:13px; *//* box-shadow:0px 0px 17px #000; */position: relative;padding: 30px 20px 15px;/* height:257px; */margin-top: 20px;}
.notice-box:before{content:"";position:absolute;top:0;left:0;width: 100%;height: 100%;z-index: 0;box-shadow: inset 1px 1px 2px #333436;border-radius: 13px;display: none;}
.notice-box > h3.tit{font-size:16px;color: #84878d;margin-bottom:15px;}
.notice-box > h3.tit > span{margin-left:5px;font-size:16px;color: #ff5500;font-weight:700;}
.notice-box > h3.tit > a.more-btn{float:right;color: #535353;font-size:14px;margin-top:5px;position: relative;z-index:2;}
.notice-box > h3.tit > a.more-btn:hover{color: #ff5500;}
.notice-box > .notice-list li{border-bottom: 1px solid #2d384d;}
.notice-box > .notice-list li:last-child{border-bottom:0;}
.notice-box > .notice-list li > a{display:table;width:100%;table-layout:fixed;}
.notice-box > .notice-list li > a > *{display:table-cell;height:45px;vertical-align:middle;}
.notice-box > .notice-list li > a > p.tit{color: #f0f0f0;font-family: "ns";font-size:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position: relative;padding-left:10px;}
.notice-box > .notice-list li > a > p.tit:before{content:"-";position:absolute;top:0;line-height:45px;left:0;color:#f0f0f0;font-family: "ns";font-size:14px;}
.notice-box > .notice-list li > a > p.day{width: 75px;text-align: right;color: #7e7e7e;}
.notice-box > .notice-list li > a:hover p.tit{text-decoration: underline;color: #ff5500;}
.notice-box > .notice-list li > a:hover p.tit:before{color:#f1cb75;}
.notice-box + .notice-box{margin-top:20px;}

@media screen and (max-width:640px){
	.img-list > ul > li{width: calc(100% - 20px);}
}

@media screen and (max-width:374px){
	.contact-method > .box > .txt-box{height:auto;padding:10px;}
	.contact-method > .box > .txt-box > p{display:block;text-align:center;}
	.contact-method > .box > .txt-box > .txt{margin-left:0;text-align:center;}


}